# Python
__pycache__/
*.pyc

# Environnements
.env
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Large media files
*.mp4
*.wav
*.mov
*.m4a

# Keep sample test video
!data/shop_robbery.mp4

# Model weights (download separately)
*.pt
*.pth
*.onnx

# Système
.DS_Store
